{% extends "base.html" %}



{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About... </h1>
            <p class="lead fw-normal text-white-50 mb-0">Hello That is me</p>
        </div>
    </div>
</header>
<br>

<div class="container">
    <div class="row">
        

<center>
    <div class="col-8">
        <br>

        <p align="justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare lectus sed consectetur sagittis. Cras molestie accumsan semper. Integer felis leo, semper sit amet purus sed, gravida ornare enim. Praesent finibus felis est, at efficitur eros ornare ac. Aenean nec purus vitae metus auctor tempus sed quis purus. Vestibulum sollicitudin rutrum nunc, ut consectetur dui congue non. Praesent congue diam ut urna hendrerit rutrum eu a nulla. Aliquam tincidunt ultricies aliquet. Nunc lectus dui, facilisis eu viverra quis, ultricies vel urna.
            <br>

Ut accumsan luctus interdum. Sed nec augue sapien. Duis ultricies, magna ut lacinia tincidunt, dolor lacus consequat mauris, convallis ultrices ex orci at est. Quisque a lorem a purus facilisis porta. Nulla nulla quam, ultrices sed erat sit amet, commodo tincidunt lorem. Maecenas volutpat erat urna, vitae hendrerit neque volutpat ut. Nunc rhoncus, urna in iaculis vestibulum, orci libero porttitor odio, eu viverra risus tellus in sem. Aenean vestibulum felis et orci sollicitudin posuere. In tincidunt velit eget nulla scelerisque dapibus. Proin ipsum mi, malesuada ultricies nisl aliquet, pharetra tempor ante. Proin posuere cursus ligula ac sagittis. Aliquam porta eget turpis ut condimentum. Nulla tincidunt nisi sem, vitae vehicula arcu vehicula a. Etiam quis dolor quam. Sed lacus risus, imperdiet luctus est vitae, varius facilisis neque.
<br>

Maecenas facilisis risus quis lectus molestie, tempus dignissim nulla euismod. Etiam ipsum orci, facilisis ut nibh sit amet, laoreet aliquet risus. Donec non neque nec eros consequat posuere et at est. Cras tristique, enim id fermentum mollis, quam tortor condimentum purus, vel ullamcorper urna massa non risus. Sed nec quam tortor. Vivamus massa massa, lacinia blandit mollis efficitur, pretium sit amet lacus. Suspendisse sit amet tempus diam. Cras tristique lorem quis dolor rhoncus, eu congue urna interdum. Curabitur vel aliquet tellus, vitae sollicitudin purus. Donec vestibulum ornare tellus eget tempor. Morbi mollis condimentum orci ut consequat. Quisque quis ultricies turpis. Integer et turpis sit amet lorem ultrices hendrerit id non lectus. Phasellus ac maximus tellus. Fusce dictum odio et tincidunt placerat. Vestibulum eu dapibus purus.
<br>

        </p>
    </div>
</center>
<br>

    </div>
</div>

{% endblock %}